#userStuff {
    float:top;
    display:none;
}

#user {
     float:left;
     padding-left: 10px;
}

#login {
     float:left;
}

#nextButton {
    visibility: hidden;
}

#volumeCheckbox {
    visibility: hidden;
}

#everything {
    background-color: white;
}

#players {
    width: 600px;
    height: 400px;
    background-color: #eeeeee;
    display: table;

}

#youtubeHolder {
    clear:both;
    text-align: center;
    display: none; 
    vertical-align: middle;
}

#soundcloudPlayer {
    text-align: center;
    display: none; 
    vertical-align: middle;
}

#bandcampPlayer {
    text-align: center;
    display: none; 
    vertical-align: middle;
}

#bandcampHolder {
    
}




#streamDiv {
    float:left;
    width: 600px;
    height: 475px;
}

#chatDiv {
    float:left;
}

#likeArea {
    display: none;
    background-color: lightgreen;
    border-radius:5px 5px 5px 5px;
    padding:3px;
}