#userstuff {
    float:top;
}

#user {
     float:left;
     padding-left: 10px;
     visibility: hidden;
}

#login {
     float:left;
     visibility: hidden;
}

#musicHolder {
    clear:both;
}

#nextButton {
    visibility: hidden;
}

#volumeCheckbox {
    visibility: hidden;
}


#streamDiv {
    float:left;
    width: 600px;
    height: 475px;
}

#chatDiv {
    float:left;
}

#musicHolder {
    clear:both;
}