#userStuff {
    float:top;
    display:none;
}

#user {
     float:left;
     padding-left: 10px;
}

#login {
     float:left;
}

#musicHolder {
    clear:both;
}

#nextButton {
    visibility: hidden;
}

#volumeCheckbox {
    visibility: hidden;
}


#streamDiv {
    float:left;
    width: 600px;
    height: 475px;
}

#chatDiv {
    float:left;
}

#musicHolder {
    clear:both;
}

#likeArea {
    display: none;
    background-color: lightgreen;
    border-radius:5px 5px 5px 5px;
    padding:3px;
}